body{
	background: #dff0d8;
	margin: auto;
}

.navbar{
	min-height: 100%;
	width: 19%; 
}

#main{
	width:80%;
	display: block;
	margin-left: 20%;
}

#img {
	width: 35%;
	margin-left: 30%;
	border-radius: 21px;
	margin-top: 20px;
}

ul{
	list-style-type: none; 	
}

li{	
	padding-left: 10px;
}

footer{	
	border: solid;
	border-radius: 15px;
	width: 50%;		
	margin-left: 34.5%;
}

.info{
	max-height: 200px;
	max-width: 350px;
	
}

.pocetni{
	padding-top: 200px;	
	padding-left: 18%;
}

#materijal-btns{
	margin:20px;
	padding-top: 15px;
	color: white;
}

.pregledstanja{
	padding-left: 18%;
	width: 80%;
}

.modal-dialog {
	border: solid;
	border-color: lightgreen;
	border-radius: 9px;
}




